{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vigour.css">
    </head>

    <title>Vigour {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="header header-area header-sticky align-items-center">       
      <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand logo" href="index.html">Vig<em>our</em></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about-us">About</a>
                </li>                  
                <li class="nav-item">
                  <a class="nav-link" href="#our-program">Our Programs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#trainers">Our Trainers</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Plans and trips
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Get a trianing plan price</a></li>
                    <li><a class="dropdown-item" href="#">Training trips</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Community</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li><button class="btn btn-login">LOG IN</button></li>
                  <li><button class="btn btn-sign-up">SIGN UP</button></li>
              </ul>
            </div>            
        </nav>        
  </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; 2022 Vigour              
              </div>
          </div>
      </div>
  </footer>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
    {% block corejs %}
    <!-- jQuery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </body>
</html>